.header{
    display: flex;
    padding: 0px 5px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 99;
    justify-content: space-between;
    box-shadow: 0px 0px 3px #ccc;
}
.header_left{
    display: flex;
    align-items: center;
}
.header_left img{
    width: 45px;
}
.header_search{
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 20px;
    padding: 0px 10px;
    height: 40px;
    margin-left: 7px;
}
.header_search input{
  border: 0;
  outline: 0;
  background-color: transparent;
  min-width: 150px;
}
.header_middle{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header_option{
    padding: 5px 48px;
    cursor: pointer;
}
.header_option-active{
    position: relative;
}
.header_option-active svg{
    color: #2381fa !important;
}
.header_option-active::after{
    position: absolute;
    content: '';
    height: 3px;
    left: 0;
    right: 0;
    bottom: -5px;
    background-color: #2381fa;
}
.header_option:hover{
    border-radius: 8px;
    background-color: whitesmoke;
}
.header_option svg{
    color: gray;
}
.header_right{
    display: flex;
    align-items: center;
}
.header_info{
    display: flex;
    align-items: center;
}
.header_info .MuiAvatar-root{
    width: 35px;
    height: 35px;
    margin: 10px;
}
.header_right .MuiButtonBase-root{
    width: 40px;
    height: 40px;
    margin: 0px 5px;
    background-color: #e4e6eb;
    color: black;
}
.header_right .b6ax4al1{
    font-size: 18px;
}