.login {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 15px;
	margin-top: 10%;
}
.loginBody {
	width: 960px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.loginBodyLeft {
	width: 400px;
}
.loginBodyLeft h2 {
    color: #1877f2;
    font-size: 60px;
}
.loginBodyLeft p{
    font-size: 20px;
}
.loginBodyRight {
	width: 400px;
    text-align: center;
}
.loginBodyRight h2{
    display: none;
}
.loginBodyRight h2{
    color: #1877f2;
    font-size: 60px;
}

.loginBodyRight form{
	width: 100%;
	background-color: #fff;
	padding: 20px 20px;
	border-radius: 10px;
}
.loginBodyRight form input {
	display: block;
	width: 90%;
	font-size: 17px;
	border-radius: 6px;
	border: 1px solid lightgray;
	margin-bottom: 20px;
	padding: 16px 18px;
}

.loginBodyRight form .submitBtn {
    background-color: #1877f2;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    font-weight: bold;
    line-height: 48px;
    padding: 0 1px;
    width: 100%;
    cursor: pointer;
}
.loginBodyRight h5 {
    font-size: 16px;
    font-weight: normal;
    border-bottom: 1px solid lightgray;
    color: #1877f2;
    margin: 20px 0px;
    padding-bottom: 20px;
}
.loginBodyRight .btn {
    background-color: #36a420;
    padding: 15px 20px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border: none;
    margin-bottom: 20px;
}






.signUp_modal_pop {
    top: 50%;
    background-color: #fff;
    width: 50%;
    margin: 0px auto;
    position: relative;
    transform: translateY(-50%);
    padding: 15px;
    border-radius: 10px;
    border: 0;
}
.signUp_modal_heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
    margin-bottom: 8px;
}
.signUp_modal_headingLeft p{
    margin-bottom: 10px;
}
.signUp_modal_heading .MuiIconButton-root{
    position: absolute;
    top: 12px;
    right: 8px;
}
.signUp_modal_pop form{
    width: 100%;
}
.signUp_modal_pop form input {
    width: 97%;
    min-width: 100px;
    padding: 15px 10px;
    margin: 5px -3px;
    border-radius: 6px;
    outline: none;
    border: 1px solid lightgray;
    margin-bottom: 12px;
}
.submitBtn {
    background-color: #1877f2;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    font-weight: bold;
    line-height: 48px;
    padding: 0 1px;
    width: 100%;
    cursor: pointer;
}